@model Hocgido2T.Models.NguoiDung
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_DashboardAdmin.cshtml";
}

<script src="~/Scripts/userprofile.js"></script>
<div class="container" style="margin-top:50px">
    <div class="row gutters">
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <img src="~/images/user.png" alt="Maxwell Admin">
                            </div>
                            <h5 class="user-name">@Model.HoTen</h5>
                            <h6 class="user-email">@Model.TaiKhoan.Email</h6>
                        </div>
                        <div class="about">
                            @if (Model.TaiKhoan.Quyen == "115")
                            {
                                <h5 class="mb-2 text-primary">Học viên</h5>
                            }
                            else if (Model.TaiKhoan.Quyen == "114")
                            {
                                <h5 class="mb-2 text-primary">Giáo viên</h5>
                            }
                            else if (Model.TaiKhoan.Quyen == "113")
                            {
                                <h5 class="mb-2 text-primary">Admin</h5>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-3 text-primary">Thông tin cá nhân</h6>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="fullName">Họ tên</label>
                                <input type="text" class="form-control" id="fullName" value="@Model.HoTen">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="website">Ngày sinh</label>
                                <input type="url" class="form-control" id="website" value="@Model.NgaySinh.Value.ToString("dd/MM/yyyy")">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="eMail">Email</label>
                                <input type="email" class="form-control" id="eMail" value="@Model.TaiKhoan.Email">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label for="phone">Số điện thoại</label>
                                <input type="tel" class="form-control" id="phone" value="@Model.Sdt">
                            </div>
                        </div>
                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <h6 class="mb-3 text-primary">Liên hệ</h6>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="form-group">
                                <label for="Street">Địa chỉ</label>
                                <input type="text" class="form-control" id="Street" value="@Model.DiaChi">
                            </div>
                        </div>

                    </div>
                    <div class="row gutters">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="text-right">
                                <button type="button" id="submit" name="submit" class="btn btn-primary" data-toggle="modal" data-target="#form_user_information" onclick="detail('@Model.MaND')">Cập nhật</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="form_user_information" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Thông tin tài khoản</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="wrap">
                    <label>Họ tên</label>
                    <input class="form-control" type="text" id="txt_fullname" />
                    <span class="focus-input"></span>
                </div>

                <div class="wrap">
                    <label>Ngày sinh</label>
                    <input class="form-control" type="date" id="datepicker" />
                    <span class="focus-input"></span>
                </div>
                <div class="wrap">
                    <label>Số điện thoại</label>
                    <input class="form-control" type="text" id="txt_phone" />
                    <span class="focus-input"></span>
                </div>
                <div class="wrap">
                    <label>Địa chỉ</label>
                    <input class="form-control" type="text" id="txt_address" />
                    <span class="focus-input"></span>
                </div>
                <div class="wrap">
                    <label>Email</label>
                    <input class="form-control" type="email" id="txt_email" />
                    <span class="focus-input"></span>
                </div>
                <div class="wrap">
                    <label>Tên tài khoản</label>
                    <input class="form-control" type="text" id="txt_username" />
                    <span class="focus-input"></span>
                </div>
                <div class="wrap">
                    <label>Mật khẩu</label>
                    <input class="form-control" type="password" id="txt_password" />
                    <span class="focus-input"></span>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" onclick="save()">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</div>
